/*
* @Author: JMW
* @Date:   2017-03-27 15:28:24
* @Last Modified by:   JMW
* @Last Modified time: 2017-04-18 11:12:02
*/

/* 工作团队*/
.talentInt{
	width:expression(document.body.clientWidth <= 1440? "1440px": "auto");
	min-width:1440px;
	background:#fff;
}
.bgc{
	width: 1200px;
	margin:0 auto;
	position: relative;
}
.talentInt .talentInt-con{
	height: 640px;
}
.talentInt .talentInt-con ul{
	margin:20px  0 0 50px;
}
.talentInt .talentInt-con ul li{
	width: 850px;
}
.talentInt .talentInt-con ul li img{
	float: left;
	margin-top:30px;
}
.talentInt .talentInt-con ul li div{
	width: 600px;
	float: right;
	margin:30px 50px 0 0;
}
.talentInt .talentInt-con ul li div h2{
	font-size:22px;
	width: 66px;
	border-bottom: 2px solid #ffc000;
	margin-top: 16px;
}
.talentInt .talentInt-con ul li div p{
	margin-top:20px;
	line-height: 24px;
	color:#464343;
	letter-spacing: 2px;
	text-indent: 2em;
	font-size: 14px;
}
.talentInt-con,.talentImpor-con,.zhaopin-con{
	width: 920px;
	height: 940px;
	padding-top: 50px;
	margin:0 auto;
	padding-left: 280px;
}
.talentInt-nav,.talentImpor-nav,.zhaopin-nav{
	width: 100%;
	height: 48px;
	position: relative;
}
.talentInt .talentInt-nav img.title,.talentImpor-nav img.title,.zhaopin-nav img.title{
	position: absolute;
	left: 50px;
	top: 0px;
}
.talentInt .talentInt-nav img.xiushi,.talentImpor-nav img.xiushi,.zhaopin-nav img.xiushi{
	position: absolute;
	right: 200px;
	top: 10px;
}

/* 人才引进 */
.talentImpor{
	width: 100%;
	height: 500px;
	background: #f5f5f5;
}
.talentImpor .talentImpor-con{
	height: 500px;
}
/* 招贤纳士 */
.zhaopin{
	width: 100%;
	background: #fff;
}
.zhaopin .zhaopin-con{
	height: 700px;
}
.zhaopin .zhaopin-con .zp-con{
	margin-top: 50px;
}
.zhaopin .zhaopin-con .zp-con li{
	margin-top: 20px;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-con2{
	width: 390px;
	height: 170px;
	background:#f5f5f5;
	float: left;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-con3{
	width: 290px;
	height: 170px;
	background:#f5f5f5;
	float: left;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-title{
	float: left;
	width: 240px;
	height: 170px;
	position: relative;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-title img{
	position: absolute;
	left:50%;
	top:36px;
	margin-left:-24px;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-title h2{
	font-size: 24px;
	position: absolute;
	bottom: 10px;
	color: #fff;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-con2 h4,
.zhaopin .zhaopin-con .zp-con .zhaopin-con3 h4{
	font-size: 20px;
	margin:20px 0 0 40px;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-con2 ul,
.zhaopin .zhaopin-con .zp-con .zhaopin-con3 ul{
	margin-left: 50px;
}
.zhaopin .zhaopin-con .zp-con .zhaopin-con2 ul li,
.zhaopin .zhaopin-con .zp-con .zhaopin-con3 ul li{
	font-size: 12px;
	color:#666;
	list-style-type: disc;
}
.zhaopin .zhaopin-con .zp-con h2{
	font-size: 30px;
	text-align: center;
	margin-bottom: 40px;
}
.zhaopin .zhaopin-con .zp-con p{
	text-align: right;
}
